@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  min-width: 230px;
  overflow-x: hidden;
  background-color: #fff;
}
header{
  text-align: center;
}
.form_cont{
  max-width: 400px;
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 12px 3px rgb(97, 97, 97)
}
.form_cont .btn{
  margin: 0 auto;
  display: block;
}
.info-user{
  font-weight: bold;
  border-bottom: 2px solid #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
  width: 100%;
  margin-bottom: 8px;
}
.info-user img{
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.card{
  margin-bottom: 25px;
  box-shadow: 0 0 12px 3px rgb(97, 97, 97)
}
.card> img{
  margin-top: 15px;
}
.card-text{
  max-height: 70px;
  height: 70px;
  overflow: hidden;
}
.rowBtn{
  margin-top: 20px;
  margin-bottom: 45px;
}
.rowBtn .btn{
   margin: 0 auto;
    display: block;
}
h1{
  border-bottom: 1px solid #000;
  margin-bottom: 25px;
  box-shadow: -10px 0 10px 3px #000;
}
.userinfo .image-responsive{
  border-radius: 100%;
  box-shadow: 0 0 3pt 2pt #000;
  border: 2px solid #fff;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
}
.App-header{
  margin-bottom: 35px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(117, 111, 111);
}
.PhotoCount{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.PhotoCount a{
  padding: 0 10px;
}
.username{
  font-weight: bold;
  text-align: center;
}
.countphoto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 1px solid #000;
  text-align: center;
  font-weight: 700;
  line-height: 1;
}